# Server Configuration
PORT=5000

# JWT Security
JWT_SECRET=ff76b632981e5b80a08d1cf826c63666324fff1eed28fd9eb8abf83a11c81702

# MySQL Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=mysqlRoot@123
DB_NAME=nitk_assist
DB_DIALECT=mysql

# AI Service Connection
AI_SERVICE_URL=http://localhost:8000

# Prisma URL for MySQL
DATABASE_URL="DATABASE_URL="mysql://root:mysqlRoot%40123@localhost:3306/nitk_assist""

# API Key for secure cron jobs/workers
SYSTEM_API_KEY="c7f412e16bf86f5665ce76754fb958d5eb91b9a58b4ba8db2c935b01ac9e3692"
